
<!DOCTYPE html>
<html class="no-js">
<head>
    <title>hetekee</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta http-eqiv="Content-Type" content="text/html" ; charset="UTF-8">
    <meta name="author" content="Roman Kirichik">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- Favicons -->
    <link rel="shortcut icon" href="/Lib/images/layout/top_logo.png">
    <link rel="apple-touch-icon" href="/Lib/images/layout/top_logo.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Lib/images/layout/top_logo.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Lib/images/layout/top_logo.png">
</head>
<body>
    @RenderBody()
</body>
</html>
