@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@section Script {
    <script src="/Lib/js/aboutus/team.js"></script>
}
@section Style {
    <link href="/Lib/css/aboutus/web.css" rel="stylesheet" />
    <link href="/Lib/css/aboutus/mobile.css" rel="stylesheet" />
}
<!-- Home Section -->
<section id="aboutus" class="bg-dark-alfa-50 main-section page-section" 
         data-background="/Lib/images/aboutus/bg_team.png">
    <div class="container relative pt-40">
        <div class="align-center">
            <div class="main-title">
                팀소개
            </div>
        </div>
    </div>
</section>

<section class="page-section team-section">
    <div class="container relative">
        <div class="row">
            <div class="col-md-12 align-center">
                <div class="team-title">
                    MEET OUR TEAM
                </div>
                <img class="team-line" src="/Lib/images/aboutus/team_line.png" />
            </div>
        </div>
        <div class="row member-container">
            <div class="left member-item col-sm-3 col-sm-offset-3 left-panel align-center">
                <img src="/Lib/images/aboutus/Sukhoon.png" class="web-item"/>
                <img class="member-img mobile-item" src="/Lib/images/aboutus/Sukhoon_s.png" />
                <div class="member-name hetekee-content-color">
                    은석훈
                </div>
                <div class="member-name-eng hetekee-content-color">
                    Suckhoon JC Eun
                </div>
                <div class="member-content hetekee-content-color">
                    CEO
                </div>
            </div>
            <div class="member-item col-sm-3 right-panel align-center">
                <img src="/Lib/images/aboutus/Ingyu.png" class="web-item" />
                <img src="/Lib/images/aboutus/Ingyu_s.png" class="mobile-item" />
                <div class="member-name hetekee-content-color">
                    윤인규
                </div>
                <div class="member-name-eng hetekee-content-color">
                    Ingyu Yoon
                </div>
                <div class="member-content hetekee-content-color">
                    Programmer
                </div>
            </div>
        </div>
        <div class="row">
            <div class="member-item col-sm-3 col-sm-offset-3 left-panel align-center">
                <img src="/Lib/images/aboutus/Bokyeong.png" class="web-item" />
                <img src="/Lib/images/aboutus/Bokyeong_s.png" class="mobile-item" />
                <div class="member-name hetekee-content-color">
                    천보경
                </div>
                <div class="member-name-eng hetekee-content-color">
                    Bokyeong Cheon
                </div>
                <div class="member-content hetekee-content-color">
                    DB Manager
                </div>
            </div>
            <div class="member-item col-sm-3 right-panel align-center">
                <img src="/Lib/images/aboutus/Hyunji.png" class="web-item" />
                <img src="/Lib/images/aboutus/Hyunji_s.png" class="mobile-item" />
                <div class="member-name hetekee-content-color">
                    손현지
                </div>
                <div class="member-name-eng hetekee-content-color">
                    Hyunji Son
                </div>
                <div class="member-content hetekee-content-color">
                    DB Assistant
                </div>
            </div>
        </div>
        <div class="row">
            <div class="member-item col-sm-3 col-sm-offset-3 left-panel align-center">
                <img src="/Lib/images/aboutus/Clara.png" class="web-item" />
                <img src="/Lib/images/aboutus/Clara_s.png" class="mobile-item" />
                <div class="member-name hetekee-content-color">
                    강승현
                </div>
                <div class="member-name-eng hetekee-content-color">
                    Clara Kang
                </div>
                <div class="member-content hetekee-content-color">
                    Design / Marketing
                    <br />
                    Manager
                </div>
            </div>
            <div class="member-item col-sm-3 right-panel align-center">
                <img src="/Lib/images/aboutus/Hwakyeong.png" class="web-item" />
                <img src="/Lib/images/aboutus/Hwakyeong_s.png" class="mobile-item" />
                <div class="member-name hetekee-content-color">
                    석화경
                </div>
                <div class="member-name-eng hetekee-content-color">
                    Hwakyeong Seok
                </div>
                <div class="member-content hetekee-content-color">
                    Designer
                </div>
            </div>
        </div>
        <div class="row">
            <div class="member-item col-sm-3 col-sm-offset-3 left-panel align-center">
                <img src="/Lib/images/aboutus/Rohrer.png" class="web-item" />
                <img src="/Lib/images/aboutus/Rohrer_s.png" class="mobile-item" />
                <div class="member-name hetekee-content-color">
                    Csaba Rohrer
                </div>
                <div class="member-content hetekee-content-color" style="margin-bottom: 0px;">
                    Intern
                </div>
            </div>
            <div class="member-item col-sm-3 right-panel align-center">
                <img src="/Lib/images/aboutus/Ryatt.png" class="web-item" />
                <img src="/Lib/images/aboutus/Ryatt_s.png" class="mobile-item" />
                <div class="member-name hetekee-content-color">
                    Charey Ryatt
                </div>
                <div class="member-content hetekee-content-color" style="margin-bottom: 0px;">
                    Intern
                </div>
            </div>
        </div>
    </div>
</section>

