@model haetack.Views.Management.UserViewModel
@{
    Layout = "/Views/Shared/_ManagementLayout.cshtml";
}
@section Style {
}
@section Script {
    <script type="text/javascript">
        var app = angular.module('myApp', []).
            controller('ManagementCtrl', function ($scope) {
            });
        $($('.form-control')[0]).focus();
    </script>

}

<section id="content">
    <section class="vbox">
        <header class="header bg-white b-b">
            <p>@(Model.User.Name) 직책 변경</p>
        </header>
        <section class="scrollable wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <section class="panel">
                        <div class="panel-body">

                            @using (Html.BeginForm("ChangeUserRole", "Management", FormMethod.Post, new { id = "chagePassword", enctype = "multipart/form-data" }))
                            {
                                <p class="dandi-sub-title m-t">이름</p>
                                <p class="dandi-description">
                                    @(Model.User.Name)
                                </p>
                                <p class="dandi-sub-title m-t">기존의 직책</p>
                                <p class="dandi-description">
                                    @if (Model.User.Role == null || Model.User.Role.Length == 0)
                                    {
                                        @:지정안됨
                                    }
                                    else
                                    {
                                        @(Model.User.Role)
                                    }
                                </p>
                                <p class="dandi-sub-title m-t">새로운 직책</p>
                                <p class="dandi-description">
                                    <input type="text" class="form-control" placeholder="" name="role">
                                </p>
                                
                                <div class="line"></div>

                                <input type="hidden" name="id" value="@(Model.User.Id)" />

                                <p class="align-right">
                                    <a href="/Management/UserDetail?id=@(Model.User.Id)" class="btn btn-s-md btn-default">뒤로가기</a>
                                    <input type="submit" class="btn btn-s-md btn-defaul" value="변경하기" />
                                </p>
                            }

                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>
