@model haetack.Views.Management.UserViewModel
@{
    Layout = "/Views/Shared/_ManagementLayout.cshtml";
}
@section Style {
}
@section Script {
    <script type="text/javascript">
        var app = angular.module('myApp', []).
            controller('ManagementCtrl', function ($scope) {
            });
        $($('.form-control')[0]).focus();
    </script>

}

<section id="content">
    <section class="vbox">
        <header class="header bg-white b-b">
            <p>@(Model.User.Name) 비밀번호 변경</p>
        </header>
        <section class="scrollable wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <section class="panel">
                        <div class="panel-body">
                            @if (Model.Message.Length > 3)
                            {
                                <header class="panel-heading bg-primary lter no-borders">
                                    <div class="clearfix">
                                        <div class="clear">
                                            <small class="text-muted">@(Model.Message)</small>
                                        </div>
                                    </div>
                                </header>
                            }

                            @using (Html.BeginForm("ChangePassword", "Management", FormMethod.Post, new { id = "chagePassword", enctype = "multipart/form-data" }))
                            {
                                <p class="dandi-sub-title m-t">기존 비밀번호</p>
                                <p class="dandi-description">
                                    <input type="password" class="form-control" placeholder="" name="oldPass">
                                </p>
                                <p class="dandi-sub-title m-t">새로운 비밀번호</p>
                                <p class="dandi-description">
                                    <input type="password" class="form-control" placeholder="" name="newPass">
                                </p>
                                <p class="dandi-sub-title m-t">새로운 비밀번호 확인</p>
                                <p class="dandi-description">
                                    <input type="password" class="form-control" placeholder="" name="confirmPass">
                                </p>
                                <div class="line"></div>

                                <input type="hidden" name="id" value="@(Model.User.Id)" />

                                <p class="align-right">
                                    <a href="/Management/UserDetail?id=@(Model.User.Id)" class="btn btn-s-md btn-default">뒤로가기</a>
                                    <input type="submit" class="btn btn-s-md btn-defaul" value="변경하기"/>
                                </p>
                            }
                            
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </section>
</section>
